{{ attach_library('crosswords/crosswords.display') }}
<h2>{{ crosswords_variable_title }}</h2>
<input type="button" value="Check Crossword" name="crossword_check" id="crossword_check" />
<div id="definitions"></div>